* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 1% auto 5% 20%;
    width: 750px;
    padding-right: 10px;
    background-color: beige;
}

h1,
h2 {
    text-align: center;
}


img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: auto;
    justify-content: center;
}

div {
    margin: 10px 0;
}